**/*.bin
**/*.out.ppt8a
**/.vscode
**/ppt8asm
**/ppt8e
**/ppt8b2s
**/ppt8c

**/cmake_install.cmake
**/CMakeFiles/
**/CMakeCache.txt
**/*.cbp
**/.idea
**/cmake-build-debug/
**/*.o
**/*.exe

emulator/Makefile
emulator/pdcdos.h
emulator/pdcurses.a
emulator/pdcurses/

compiler/Makefile
